@()

<html>
    <head></head>
    <body>
        <form method="POST" action="/send" enctype="application/x-www-form-urlencoded">
            <fieldset>
                <label for="browserId">BrowserId:</label>
                <input id="browserId" name="browserId" type="text">

                <label for="title">Title:</label>
                <input id="title" name="topic" type="text">

                <label for="body">Body:</label>
                <input id="body" name="body" type="text">

                <input type="submit" value="submit">
            </fieldset>
        </form>
    </body>
</html>